[Unit]
Description=Adds ChatMix functionality to Linux
After=default.target

[Service]
ExecStart=/usr/bin/python /path/to/chatmix.py
Restart=always

[Install]
WantedBy=default.target

